<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a href="javascript:void(0);"><cite>留言板</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">查找</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="time" placeholder="请选择时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" lay-submit lay-filter="LAY-user-front-search" class="layui-btn layui-btn-normal">查找</button>
                </div>

                <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="add" style="float: right;">+&nbsp;&nbsp;&nbsp;添加</button>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
            </script>
            <script type="text/html" id="table-operation-user">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['admin', 'table', 'form','laydate'], function() {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-userfront-formlist');

        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#time'
            ,range: true
        });

        //用户管理
        table.render({
            elem: '#LAY-user-manage'
            ,headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,url: layui.setter.baseProject + '/api/sysUser/page'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'userName', title: '用户名', minWidth: 100}
                ,{field: 'userCode', title: '用户编码', minWidth: 60}
                // ,{field: 'avatar', title: '头像', width: 100, templet: '#imgTpl'}
                ,{field: 'phone', title: '电话号码'}
                ,{field: 'realName', title: '真实姓名'}
                ,{field: 'identityNo', title: '身份证号码'}
                ,{field: 'roleName', title: '角色名称'}
                ,{field: 'depName', title: '部门名称'}
                ,{field: 'sex', width: 80, title: '性别', templet: function (d) {
                    if (d.sex == "0") {
                        return "男";
                    } else if (d.sex == "1") {
                        return "女";
                    } else {
                        return "--";
                    }
                }}
                ,{field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                    return layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss');
                }}
                ,{title: '操作', width: 150, align:'center', fixed: 'right', toolbar: '#table-operation-user'}
            ]]
            , page: true
            , limit: 10
            ,text: {
                none: '暂无相关数据'
            }
        });

        //监听工具条
        table.on('tool(LAY-user-manage)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除吗', function (index) {
                    admin.req({
                        url: layui.setter.baseProject + "/api/sysUser/delete/" + obj.data.id
                        , type: "DELETE"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-user-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                location.hash = "/user/edit/id=" + obj.data.id
            }
        });

        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('LAY-user-manage', {
                where: field
            });
        });

        //事件
        var active = {
            add: function(){
                location.hash = "/user/add";
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(); //渲染该模板下的动态表单
        });
    };
</script>
</html>