<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增新闻</title>
    <style>
        .layui-form-label {
            width: 100px;
            /*eft: 100px;*/
            /*position: relative;l*/
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a lay-href="/article/page"><cite>新闻管理</cite></a>
        <a href="javascript:void(0);"><cite>新增新闻</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新闻信息</legend>
    </fieldset>
    <form class="layui-form" enctype="multipart/form-data" lay-filter="formFilter" action="javascript: return false;">
    <div class="layui-form-item">
        <label class="layui-form-label">发布时间:</label>
        <div class="layui-input-block layui-col-xs2">
            <input type="text" class="layui-input" id="publishTime" name="publishTime"
                   placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
        <label class="layui-form-label layui-col-xs6" style="left: 30px;position: relative">发布人:</label>
        <div class="layui-input-block layui-col-xs4" id="demo3">
            <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/sysUser/list" lay-done="initForm(d);">
                <select class="layui-select" id="publishUserId" name="publishUserId" lay-filter="publishUserId" style="right:40px;position:relative;width:50px">
                    <option value="">请选择</option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{ item.id }}">{{ item.realName }}</option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="">*</span>新闻类型</label>
        <div class="layui-input-block layui-col-xs2">
            <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/articleCategory/list" lay-done="initForm(d);">
                <select class="layui-select" id="articleCategoryId" name="articleCategoryId"
                        lay-filter="articleCategoryId" style="width: 278px">
                    <option value="">请选择</option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="">*</span>标题</label>
        <div class="layui-input-block layui-col-xs5">
            <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input" style="width: 695px">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="">*</span>图片</label>
        <div class="layui-input-block layui-col-xs2 showImgs" style="display: flex;width: 70%;flex-wrap: wrap;">
            <div class="layui-upload-list test" name="headPhoto" id="demo2" style="display: contents;">

            </div>
            <div class="layui-upload-drag" id="headImg">
                +
            </div>
        </div>

        <input type="text" id="imgSrc" name="imgSrc" lay-verify="imgSrc" style="display: none;" class="layui-input">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><span style="">*</span>摘要</label>
        <div class="layui-input-block layui-col-xs5">
            <input type="text" name="description" placeholder="请输入文章摘要  " autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="">*</span>信息内容</label>
        <div class="layui-input-block layui-col-xs5">
            <textarea  id="content" name="content" style="background-color: red!important"></textarea>
<!--            <input type="text" name="content" placeholder="请输入内容" autocomplete="off" class="layui-input">-->
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="layui-form-item">
        <div class="layui-input-block layui-col-xs2 " style="margin-left: 60px;position: relative;">
            <button class="layui-btn" lay-submit lay-filter="article-submit" style="background-color: #1E9FFF;width: 85px">
                保存
            </button>
        </div>
    </div>
    </form>
</div>
</body>
<script>
    var uploadFiles = [], photoNum = 0;
    var attachmentIds = [];
    var coverUrl;
    layui.use(['admin', 'form', 'upload', 'eleTree', 'laydate','layedit'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , upload = layui.upload
            , eleTree = layui.eleTree
            , laydate = layui.laydate
            , layedit=layui.layedit;

        //日期时间选择器
        laydate.render({
            elem: '#publishTime'
            , type: 'datetime'
        });

        //建立编辑器
        var editIndex =layedit.build('content', {
            height:150,
        });


        form.render(null, 'formFilter');



        //拖拽上传
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: layui.setter.baseProject + '/api/upload' //上传接口

            , multiple: true
            , number: 7

            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    // $('#demo1').attr('src', result); //图片链接（base64）
                    $('#demo2').append('<div class="upload-file1">' + '<div class="iconfont icon-icon-test7" onclick="removes(this)"></div>' + '<img id="' + '"  src="' + result
                        + '" alt="' + file.name
                        + '" height="100%" width="100%"></div>')
                });
                photoNum++;
                if (photoNum >= 9) {
                    $('#headImg').addClass("displayDiv");
                }
            }
            , done: function (res) {
                $('input[name="imgSrc"]').val(res.data.url);
                console.log($('input[name="imgSrc"]').val());
                coverUrl = res.data.url;
                attachmentIds.push(res.data.id);
                if (photoNum < 9) {
                    layer.msg('上传完毕', {icon: 1});
                } else {
                    layer.msg('上传完毕，最多只可以上传9张图片', {icon: 1});
                }

            }
            , error: function () {
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        // 验证表单
        form.verify({
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            imgSrc: [/\S/, '请上传照片']

        });


        form.on('submit(article-submit)', function (data) {
            var field = data.field; //获取提交的字段
            field.coverUrl = coverUrl;
            field.attachmentIds = attachmentIds;
            field.content=layedit.getContent(editIndex);
            console.log(data);
            admin.req({
                url: layui.setter.baseProject + "/api/article/add"
                , type: "POST"
                , data: JSON.stringify(field)
                , dataType: "json"
                , contentType: "application/json;charset=utf-8"
                , done: function (res) {
                    layui.layer.alert(res.msg, function () {
                        location.hash = '/article/page';
                    })
                }
            });
            return false;
        })
    });


    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'formFilter'); //渲染该模板下的动态表单
        });
    };

    removes = function(thisimg){
        alert(111);
        layui.use(['form'], function () {
            layer.confirm('真的删除吗', function (index) {
                var alt= $(thisimg).siblings().attr("alt");
                $(thisimg).parent().remove();
                photoNum--;
                if (photoNum<9) {
                    $('#headImg').removeClass("displayDiv");
                }
                if (photoNum == 0) {
                    $('input[name="imgSrc"]').val('   ');
                }
                layer.closeAll();
                for(var i=0,j=uploadFiles.length;i<j;i++)
                    if(attachmentList[i].name == alt){
                        attachmentList.splice(i,1);
                        break;
                    }
                return;
            });
        });
    };

</script>
</html>
