<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <style>
        .layui-form-label {
            width: 120px;
        }

        .redColor {
            color: red;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a lay-href="/article/page"><cite>新闻管理</cite></a>
        <a href="javascript:void(0);"><cite id="topTitle">新闻</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新闻信息</legend>
    </fieldset>
    <form class="layui-form" lay-filter="formFilter" action="javascript: return false;">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>发布时间</label>
            <div class="layui-input-block layui-col-xs2">
                <input type="text" class="layui-input" id="publishTime" name="publishTime"
                       placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
            <label class="layui-form-label layui-col-xs6" style="left: 30px;position: relative"><span
                    class="redColor">*</span>发布人</label>
            <div class="layui-input-block layui-col-xs4" style="width: 238px;right: 50px">
                <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/sysUser/list"
                        lay-done="initForm(d);">
                    <select class="layui-select" id="publishUserId" name="publishUserId">
                        <option value="">请选择</option>
                        {{# layui.each(d.data, function(index, item){ }}
                        <option value="{{ item.id }}">{{ item.realName }}</option>
                        {{# }); }}
                    </select>
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>新闻类型</label>
            <div class="layui-input-block layui-col-xs2">
                <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/articleCategory/list"
                        lay-done="initForm(d);">
                    <select class="layui-select" id="articleCategoryId" name="articleCategoryId"
                            lay-filter="articleCategoryId">
                        <option value="">请选择</option>
                        {{# layui.each(d.data, function(index, item){ }}
                        <option value="{{ item.id }}">{{ item.title }}</option>
                        {{# }); }}
                    </select>
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>标题</label>
            <div class="layui-input-block layui-col-xs5">
                <input type="text" id="title" placeholder="请输入标题" autocomplete="off"
                       class="layui-input" style="width: 695px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>图片</label>
            <div class="layui-input-block layui-col-xs8">
                <img id="headImg" src="" style="width: 150px; height: 150px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>摘要</label>
            <div class="layui-input-block layui-col-xs5">
                <input type="text" id="description" placeholder="请输入文章摘要  " autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="redColor">*</span>内容</label>
            <div class="layui-input-block layui-col-xs8">
                <textarea class="layui-textarea" style="display: none;" id="LAY-editor"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block layui-col-xs10 " style="text-align: center;">
                <button class="layui-btn" lay-submit lay-filter="user-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    //获取传递的id，存在修改，不存在添加
    var id = layui.router().search.id;
    var imgSrc = '';
    //
    layui.use(['admin', 'form', 'upload', 'eleTree', 'layedit', 'laydate'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , upload = layui.upload
            , eleTree = layui.eleTree
            , laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#publishTime'
            , type: 'datetime'
        });

        //建立编辑器
        var layedit = layui.layedit;
        // 配置富文本编辑器
        layedit.set({
            //暴露layupload参数设置接口 --详细查看layupload参数说明
            uploadImage: {
                url: layui.setter.baseProject + '/api/articleUpload', //上传接口
                accept: 'image',
                acceptMime: 'image/*',
                exts: 'jpg|png|gif|bmp|jpeg',
                size: '10240'
            }
            , uploadVideo: {
                url: layui.setter.baseProject + '/api/articleUpload', //上传接口
                accept: 'video',
                acceptMime: 'video/*',
                exts: 'mp4|flv|avi|rm|rmvb',
                size: '20480'
            }
            //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
            //传递参数：
            //图片： imgpath --图片路径
            //视频： filepath --视频路径 imgpath --封面路径
            // , calldel: {
            // 	url: layui.setter.baseFileURL
            // }
            //开发者模式 --默认为false
            , devmode: true
            //插入代码设置
            , codeConfig: {
                hide: true,  //是否显示编码语言选择框
                default: 'javascript' //hide为true时的默认语言格式
            }
            , tool: [
                'html', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'images', 'image_alt',/* 'video',*/ 'anchors'
            ]
            , height: '360px'
        });

        // 加载富文本编辑器
        var ieditor = layedit.build('LAY-editor');
        //
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: layui.setter.baseProject + '/api/upload' //上传接口
            , multiple: false
            , number: 1
            , accept: 'images'
            , done: function (res) {
                imgSrc = res.data.compressUrl;
                $('#headImg').attr("src", layui.setter.baseFileURL + imgSrc);
                layer.msg('上传成功', {icon: 1});
            }
            , error: function () {
                layer.msg('上传失败', {icon: 2});
            }
        });

        //设置默认图片
        $('#headImg').attr("src", layui.setter.base + "/img/img_normal.png");
        //
        if (id) {
            //顶部导航标题
            $("#topTitle").html('编辑新闻管理');
            //初始化表单
            admin.req({
                url: layui.setter.baseProject + "/api/article/detail/" + id
                , type: "GET"
                , data: {}
                , dataType: "json"
                , contentType: "application/json;charset=utf-8"
                , done: function (res) {
                    if (res.code == 0) {
                        var data = res.data;
                        $("#publishTime").val(data.publishTime);
                        $("[name='publishUserId']").val(data.publishUserId);
                        $("[name='articleCategoryId']").val(data.articleCategoryId);
                        $("#title").val(data.title);
                        $('#headImg').attr("src", layui.setter.baseFileURL + data.coverUrl);
                        $("#description").val(data.description);
                        imgSrc = data.coverUrl;
                        // 回显content
                        $('#LAY-editor').attr("value", layedit.setContent(ieditor, data.content));
                        form.render(null, 'formFilter');
                    } else {
                        layui.layer.alert(res.msg);
                    }
                }
            });
        } else {
            //顶部导航标题
            $("#topTitle").html('新增新闻管理');
            $("#createTimeDiv").css("display", "none");
        }

        form.render(null, 'formFilter');

        form.on('submit(user-submit)', function () {
            var publishTime = $("#publishTime").val();
            var publishUserId = $("#publishUserId").val();
            var articleCategoryId = $("#articleCategoryId").val();
            var title = $("#title").val();
            // 富文本
            var description = $("#description").val();
            var content = layedit.getContent(ieditor);
            //
            var url = '';
            var type = '';
            var data = {
                title: title,
                publishTime: publishTime,
                publishUserId: publishUserId,
                articleCategoryId: articleCategoryId,
                description: description,
                content: content,
                coverUrl: imgSrc,
            };
            //判断必填参数
            if (!data.publishTime) {
                layer.msg("请输入发布时间", {icon: 2, time: 1000})
            } else if (!data.publishUserId) {
                layer.msg("请选择发布人", {icon: 2, time: 1000})
            } else if (!data.articleCategoryId) {
                layer.msg("请选择新闻类型", {icon: 2, time: 1000})
            } else if (!data.title) {
                layer.msg("请选择标题", {icon: 2, time: 1000})
            } else if (!data.coverUrl) {
                layer.msg("请选择图片", {icon: 2, time: 1000})
            } else if (!data.description) {
                layer.msg("请输入摘要", {icon: 2, time: 1000})
            } else if (!data.content) {
                layer.msg("请输入信息内容", {icon: 2, time: 1000})
            } else {
                //判断是否有id
                if (id) {
                    data.id = id;
                    url = layui.setter.baseProject + "/api/article/edit/" + id;
                    type = 'PUT';
                } else {
                    url = layui.setter.baseProject + "/api/article/add";
                    type = 'POST';
                }
                //发出请求
                admin.req({
                    url: url
                    , type: type
                    , data: JSON.stringify(data)
                    , dataType: "json"
                    , contentType: "application/json;charset=utf-8"
                    , done: function (res) {
                        layui.layer.alert(res.msg, function () {
                            location.hash = '/article/page';
                        })
                    }
                });
                return false;
            }
        })
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'formFilter'); //渲染该模板下的动态表单
        });
    };
</script>
</html>
