<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻中心</title>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a href="javascript:void(0);"><cite>新闻中心</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">查找:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型:</label>
                    <div class="layui-input-block">
                        <script type="text/html" template
                                lay-url="{{ layui.setter.baseProject }}/api/articleCategory/list"
                                lay-done="initForm(d)">
                            <select class="layui-select" id="articleCategoryId" name="articleCategoryId"
                                    lay-filter="status">
                                <option value="">请选择</option>
                                {{# layui.each(d.data, function(index, item){ }}
                                <option value="{{ item.id }}">{{ item.title }}</option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">时间:</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="puhlishTimeStr" name="puhlishTimeStr"
                               placeholder="请选择时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" lay-submit lay-filter="LAY-article-front-search"
                            class="layui-btn layui-btn-normal" style="left: 60px;position: relative">查找
                    </button>
                </div>

                <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="add" style="float: right;">+&nbsp;&nbsp;&nbsp;添加</button>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-article-manage" lay-filter="LAY-article-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.avatar }}>
            </script>
            <script type="text/html" id="table-operation-article">
                {{# if(d.status == "4"){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="publish"><i
                        class="layui-icon layui-icon-ok"></i>上架</a>
                {{# } else if(d.status == "3"){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="withdraw"><i
                        class="layui-icon layui-icon-close"></i>下架</a>
                {{# } }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="zizeng">
    {{d.LAY_INDEX}}
</script>
<script>
    layui.use(['admin', 'table', 'form', 'laydate'], function () {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-userfront-formlist');

        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#puhlishTimeStr'
            , range: true
        });

        //新闻管理
        table.render({
            elem: '#LAY-article-manage'
            , headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , url: layui.setter.baseProject + '/api/article/page'
            , cols: [[
                // {type: 'checkbox', fixed: 'left',}
                {
                    type: 'checkbox',
                    fixed: 'left'
                }
                , {
                    field: 'title',
                    title: '标题',
                    align: "center",
                    minWidth: 100,
                    width: 300
                }
                , {
                    field: 'articleCategoryName',
                    title: '类型',
                    minWidth: 60,
                    align: "center",
                    width: 150
                }
                , {
                    field: 'description',
                    title: '摘要',
                    minWidth: 60,
                    align: "center",
                    width: 300
                }
                , {
                    field: 'publishRealName',
                    title: '发布人',
                    minWidth: 60,
                    align: "center",
                    width: 150
                }
                , {
                    field: 'publishTime',
                    title: '发布时间',
                    width: 200,
                    align: "center",
                    sort: true,
                    templet: function (d) {
                        return layui.util.toDateString(d.publishTime, 'yyyy-MM-dd HH:mm:ss');
                    }
                }
                , {
                    field: 'status',
                    width: 150,
                    title: '状态',
                    align: "center",
                    templet: function (d) {
                        if (d.status == "3") {
                            return "<span style=\"color: rgb(30, 159, 255);\">已上架</span>";
                        } else if (d.status == "4") {
                            return "<span style=\"color: rgb(252 ,118,76);\">未上架</span>";
                        } else {
                            return "--";
                        }
                    }
                }
                , {
                    title: '操作',
                    align: 'center',
                    fixed: 'right',
                    toolbar: '#table-operation-article'
                }
            ]]
            , page: true
            , limit: 10
            , text: {
                none: '暂无相关数据'
            }
        });

        //监听工具条
        table.on('tool(LAY-article-manage)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除吗', function (index) {
                    admin.req({
                        url: layui.setter.baseProject + "/api/article/delete/" + obj.data.id
                        , type: "DELETE"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-article-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                location.hash = "/article/edit/id=" + obj.data.id
            } else if (obj.event === 'withdraw') {
                    admin.req({
                        url: layui.setter.baseProject + "/api/article/withdraw/" + obj.data.id
                        , type: "PUT"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-article-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    });
            } else if (obj.event === 'publish') {
                    admin.req({
                        url: layui.setter.baseProject + "/api/article/publish/" + obj.data.id
                        , type: "PUT"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-article-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    });
            }
        });

        //监听搜索
        form.on('submit(LAY-article-front-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-article-manage', {
                where: field
            });
        });

        //事件
        var active = {
            add: function () {
                location.hash = "/article/edit";
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'layadmin-userfront-formlist'); //渲染该模板下的动态表单
        });
    };

</script>
</html>
