<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>附件列表</title>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a href="javascript:void(0);"><cite>附件管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-attachmentfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">附件名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入附件名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">附件类型</label>
                    <div class="layui-input-block">
                        <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/dictionary/list?typeCode=attachmentType" lay-done="initForm(d);">
                            <select class="layui-select" id="type" name="type" lay-verify="required" >
                                <option value="">请选择</option>
                                {{#  layui.each(d.data, function(index, item){ }}
                                <option value="{{ item.id }}" >{{ item.dicName }}</option>
                                {{#  }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-attachmentadmin" lay-submit lay-filter="LAY-attachment-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <table id="LAY-attachment-manage" lay-filter="LAY-attachment-manage"></table>

            <script type="text/html" id="table-operation-attachment">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['admin', 'table'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-attachmentfront-formlist');

        //用户管理
        table.render({
            elem: '#LAY-attachment-manage'
            , headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , url: layui.setter.baseProject + '/api/attachment/page'
            , cols: [[
                {type: 'numbers', fixed: 'left'}
                , {field: 'name', title: '名称', minWidth: 100}
                , {field: 'url', title: 'URL'}
                , {field: 'typeName', title: '类型'}
                , {field: 'sourceId', title: '来源'}
                , {
                    field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                        if (null != d.createTime && undefined != d.createTime) {
                            return layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss');
                        } else {
                            return "";
                        }
                    }
                }
                , {title: '操作', width: 220, align: 'center', fixed: 'right', toolbar: '#table-operation-attachment'}
            ]]
            , page: true
            , limit: 10
            , text: {
                none: '暂无相关数据'
            }
        });

        //监听工具条
        table.on('tool(LAY-attachment-manage)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除吗', function (index) {
                    admin.req({
                        url: layui.setter.baseProject + "/api/attachment/delete/" + obj.data.id
                        , type: "DELETE"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-attachment-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                var tr = $(obj.tr);
                location.hash = "/attachment/edit/id=" + obj.data.id;
            } else if (obj.event === 'grant') {
                var tr = $(obj.tr);
                location.hash = "/attachment/grant/id=" + obj.data.id;
            }
        });

        //监听搜索
        form.on('submit(LAY-attachment-front-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-attachment-manage', {
                where: field
            });
        });

        //事件
        var active = {
            add: function () {
                location.hash = "/attachment/add";
            }
        };

        $('.layui-btn.layuiadmin-btn-attachmentadmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'layadmin-attachmentfront-formlist'); //渲染该模板下的动态表单
        });
    };
</script>
</html>