
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：v{{ layui.admin.v }}</p>
  </script>
<!--  <div class="layui-btn-container">-->
<!--    <a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>-->
<!--    <a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a>-->
<!--  </div>-->
</div>

<div class="layui-card-header">关于版本</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    <h4>版本：1.0</h4>
    <p>本项目是基于springboot + mybatis plus + mysql 的maven项目。</p>
    <p>目前实现用户模块、角色模块、部门模块、权限菜单模块、数据字典模块、系统操作日志模块功能。后续将添加更多通用模块，敬请期待！</p>
  </blockquote>
  <p>© 2020 <a href="http://jszzkj.com/">jszzkj.com</a> 版权所有</p>
</div>