<body style="text-align: center;">
<script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/getLoginInfo">
  <p style="padding-top: 4%;font-size: 22px;margin-left: 100px;">您好，{{ d.data.realName }}！</p>
  <p style="padding-top: 4%;font-size: 22px;margin-left: 100px;">欢迎使用中州科技公司网站后台</p>
</script>

</body>
