<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增权限菜单</title>
    <style>
        .layui-form-label{
            width: 120px;
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a lay-href="/permission/page"><cite>权限菜单管理</cite></a>
        <a href="javascript:void(0);"><cite>新增权限菜单</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>权限菜单信息</legend>
    </fieldset>
    <form class="layui-form" lay-filter="formFilter" action="javascript: return false;">
        <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/permission/detail/{{ layui.router().search.id }}" lay-done="initForm(d);">
        <div class="layui-form-item">
            <label class="layui-form-label">权限菜单名称</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="name"  lay-verify="required" placeholder="请输入权限菜单名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限菜单编码</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="code"  lay-verify="required" placeholder="请输入权限菜单编码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="parentPermission" placeholder="请选择上级菜单" readonly="" autocomplete="off" class="layui-input">
                <div class="eleTree permissionTree" lay-filter="permissionTree"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block layui-col-xs8">
                <select class="layui-select" id="type" name="type" lay-verify="required" >
                    <option value="0">根菜单</option>
                    <option value="1">子菜单</option>
                    <option value="2">接口</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="url" placeholder="请输入URL" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面跳转地址</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="jump" placeholder="请输入页面跳转地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="icon" placeholder="请输入图标代码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标地址</label>
            <div class="layui-input-block layui-col-xs8">
                <button type="button" class="layui-btn layui-btn-normal" id="iconImg">选择文件</button>
                <button type="button" class="layui-btn" id="iconImgUpload">开始上传</button>
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>文件名</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="iconImgs">
                        {{# if(null != d.data.iconAttachments && undefined != d.data.iconAttachments){ }}
                        {{#  layui.each(d.data.iconAttachments, function(index, item){ }}
                        <tr data-attid="{{ item.id }}">
                            <td>{{ item.name }}</td>
                            <td><span style="color: #5FB878;">上传成功</span></td>
                            <td>
                                <a class="layui-btn layui-btn-primary" href="{{ layui.setter.baseFileURL + item.url }}" target="_blank">查看</a>
                                <button class="layui-btn layui-btn-danger" onclick="delAttr(this);">删除</button>
                            </td>
                        </tr>
                        {{#  });} }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="number" name="seq" min="0" lay-verify="required" value="0" placeholder="请输入排序号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        </script>
        <div class="layui-form-item">
            <div class="layui-input-block layui-col-xs10 " style="text-align: center;">
                <button class="layui-btn" lay-submit lay-filter="permission-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['admin', 'form', 'upload', 'eleTree'], function() {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , upload = layui.upload
            , eleTree = layui.eleTree;

        form.render(null, 'formFilter');



        form.on('submit(permission-submit)', function(data){
            var field = data.field; //获取提交的字段
            field.parentId = $("[name='parentPermission']").attr("data-parent-id");
            var iconImgs = [];
            $("#iconImgs tr").each(function (e, obj) {
                var attachmentId = obj.dataset.attid;
                if (null != attachmentId && "" != attachmentId && undefined != attachmentId && "undefined" != attachmentId){
                    iconImgs.push(attachmentId);
                }
            });
            data.field.iconImgs = iconImgs;
            admin.req({
                url: layui.setter.baseProject + "/api/permission/edit/" + layui.router().search.id
                , type: "PUT"
                ,data: JSON.stringify(field)
                ,dataType: "json"
                , contentType: "application/json;charset=utf-8"
                , done: function (res) {
                    layui.layer.alert(res.msg, function () {
                        location.hash = '/permission/page';
                    })
                }
            });
            return false;
        })
    });

    /**
     * 删除附件
     * @param removeObj
     */
    function delAttr(removeObj){
        removeObj.parentNode.parentNode.parentNode.removeChild(removeObj.parentNode.parentNode);
    }

    /**
     * 初始化表单
     * @param res
     */
    initForm = function(res){
        layui.use(['admin', 'form', 'upload', 'eleTree'], function() {
            var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , upload = layui.upload
                , eleTree = layui.eleTree;

            form.val("formFilter", {
                "name": res.data.name,
                "code": res.data.code,
                "type": res.data.type,
                "url": res.data.url,
                "jump": res.data.jump,
                "icon": res.data.icon,
                "seq": res.data.seq
            });
            //设置选中的节点
            $("[name='parentPermission']").val(res.data.parentName);
            $("[name='parentPermission']").attr("data-parent-id", res.data.parentId);


            //初始化上级菜单
            var permissionTree;
            $("[name='parentPermission']").on("click",function (e) {
                e.stopPropagation();
                if(!permissionTree){
                    permissionTree=eleTree.render({
                        elem: '.permissionTree',
                        emptText: "暂无数据",
                        headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]},
                        url: layui.setter.baseProject + '/api/permission/findPermissionTree',
                        request: {
                            name: "name",
                            key: "id",
                            children: "children"
                        },
                        response: {
                            statusName: "code",
                            statusCode: 0,
                            dataName: "data"
                        },
                        defaultExpandAll: true,
                        expandOnClickNode: false,
                        highlightCurrent: true
                    });
                }
                $(".permissionTree").toggle();
            });
            eleTree.on("nodeClick(permissionTree)",function(d) {
                $("[name='parentPermission']").val(d.data.currentData.name);
                $("[name='parentPermission']").attr("data-parent-id", d.data.currentData.id);
                $(".depTree").hide();
            });
            $(document).on("click",function() {
                $(".permissionTree").hide();
            });

            var iconImgView = $('#iconImgs')
                , uploadListIns = upload.render({
                elem: '#iconImg'
                , headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
                , data: {
                    "typeCode": "icon"
                }
                , url: layui.setter.baseProject + '/api/upload'
                , accept: 'images'
                , multiple: false
                , auto: false
                , size: 0
                , bindAction: '#iconImgUpload'
                , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layui.layer.load(); //上传loading
                }
                , choose: function (obj) {
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">'
                            , '<td>' + file.name + '</td>'
                            , '<td>等待上传</td>'
                            , '<td>'
                            , '<button class="layui-btn layui-btn-xs iconImg-reload layui-hide">重传</button>'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger iconImg-delete">删除</button>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //单个重传
                        tr.find('.iconImg-reload').on('click', function () {
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.iconImg-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });

                        iconImgView.append(tr);
                    });
                }
                , done: function (res, index, upload) {
                    layer.closeAll('loading'); //关闭loading
                    if (res.code == 0) { //上传成功
                        var tr = iconImgView.find('tr#upload-' + index)
                            , tds = tr.children();
                        tr.attr("data-attid", res.data.id);
                        tds.eq(1).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(2).html('<a class="layui-btn layui-btn-primary" href="' + layui.setter.baseFileURL + res.data.url + '" target="_blank">查看</a><button class="layui-btn layui-btn-danger" onclick="delAttr(this);">删除</button>'); //清空操作
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                , error: function (index, upload) {
                    var tr = iconImgView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(1).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(2).find('.iconImg-reload').removeClass('layui-hide'); //显示重传
                }
            });

            form.render(null, 'formFilter');
        });
    };
</script>

</html>