<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据字典</title>
    <style>
        .layui-form-label{
            width: 120px;
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a lay-href="/dictionary/page"><cite>数据字典管理</cite></a>
        <a href="javascript:void(0);"><cite>新增数据字典</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>数据字典信息</legend>
    </fieldset>
    <form class="layui-form" lay-filter="formFilter" action="javascript: return false;">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="dicName" lay-verify="required" placeholder="请输入数据字典名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="dicCode" lay-verify="required" placeholder="请输入数据字典编码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">值</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="dicValue" lay-verify="required" placeholder="请输入数据字典值" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block layui-col-xs8">
                <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/dictionaryType/list" lay-done="initForm(d);">
                    <select class="layui-select" id="type" name="type" lay-verify="required" >
                        <option value="">请选择</option>
                        {{#  layui.each(d.data, function(index, item){ }}
                        <option value="{{ item.id }}" >{{ item.typeName }}</option>
                        {{#  }); }}
                    </select>
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block layui-col-xs8">
                <textarea name="description" class="layui-textarea" placeholder="请输入描述"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block layui-col-xs10 " style="text-align: center;">
                <button class="layui-btn" lay-submit lay-filter="dictionary-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['admin', 'form', 'eleTree'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , eleTree = layui.eleTree;

        form.render(null, 'formFilter');

        form.on('submit(dictionary-submit)', function (data) {
            var field = data.field; //获取提交的字段
            admin.req({
                url: layui.setter.baseProject + "/api/dictionary/add"
                , type: "POST"
                , data: JSON.stringify(field)
                , dataType: "json"
                , contentType: "application/json;charset=utf-8"
                , done: function (res) {
                    layui.layer.alert(res.msg, function () {
                        location.hash = '/dictionary/page';
                    })
                }
            });
            return false;
        })
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'formFilter'); //渲染该模板下的动态表单
        });
    };
</script>
</html>