<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据字典列表</title>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a href="javascript:void(0);"><cite>数据字典管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto"
             lay-filter="layadmin-dictionaryfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">字典名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="dicName" placeholder="请输入数据字典名称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">字典编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="dicCode" placeholder="请输入数据字典编码" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">字典值</label>
                    <div class="layui-input-block">
                        <input type="text" name="dicValue" placeholder="请输入数据字典值" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/dictionaryType/list" lay-done="initForm(d);">
                            <select class="layui-select" id="type" name="type" lay-verify="required" >
                                <option value="">请选择</option>
                                {{#  layui.each(d.data, function(index, item){ }}
                                <option value="{{ item.id }}" >{{ item.typeName }}</option>
                                {{#  }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-dictionaryadmin" lay-submit
                            lay-filter="LAY-dictionary-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-dictionaryadmin" data-type="add">添加</button>
            </div>

            <table id="LAY-dictionary-manage" lay-filter="LAY-dictionary-manage"></table>

            <script type="text/html" id="table-operation-dictionary">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['admin', 'table'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-dictionaryfront-formlist');

        //用户管理
        table.render({
            elem: '#LAY-dictionary-manage'
            , headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , url: layui.setter.baseProject + '/api/dictionary/page'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'dicName', title: '数据字典名称', minWidth: 100}
                , {field: 'dicCode', title: '数据字典编码', minWidth: 100}
                , {field: 'dicValue', title: '数据字典值'}
                , {field: 'typeName', title: '类型'}
                , {field: 'description', title: '简述'}
                , {
                    field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                        return layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss');
                    }
                }
                , {
                    field: 'lastUpdateTime', title: '修改时间', sort: true, templet: function (d) {
                        if (null != d.lastUpdateTime && undefined != d.lastUpdateTime) {
                            return layui.util.toDateString(d.lastUpdateTime, 'yyyy-MM-dd HH:mm:ss');
                        } else {
                            return "";
                        }
                    }
                }
                , {title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-operation-dictionary'}
            ]]
            , page: true
            , limit: 10
            , text: {
                none: '暂无相关数据'
            }
        });

        //监听工具条
        table.on('tool(LAY-dictionary-manage)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除吗', function (index) {
                    admin.req({
                        url: layui.setter.baseProject + "/api/dictionary/delete/" + obj.data.id
                        , type: "DELETE"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-dictionary-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                location.hash = "/dictionary/edit/id=" + obj.data.id;
            }
        });

        //监听搜索
        form.on('submit(LAY-dictionary-front-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-dictionary-manage', {
                where: field
            });
        });

        //事件
        var active = {
            add: function () {
                location.hash = "/dictionary/add";
            }
        };

        $('.layui-btn.layuiadmin-btn-dictionaryadmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'layadmin-dictionaryfront-formlist'); //渲染该模板下的动态表单
        });
    };
</script>
</html>