<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户对象</title>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a href="javascript:void(0);"><cite>客户对象</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">查找</label>
                    <div class="layui-input-block">
                        <input type="text" id="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="time" placeholder="请选择时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" lay-submit lay-filter="LAY-user-front-search" class="layui-btn layui-btn-normal">查找</button>
                </div>

                <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="add" style="float: right;">+&nbsp;&nbsp;&nbsp;添加</button>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
            </script>
            <script type="text/html" id="table-operation-user">
                {{#  if(d.status == 0){ }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enable"><i class="layui-icon layui-icon-ok"></i>上架</a>
                {{#  } }}
                {{#  if(d.status == 1){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable"><i class="layui-icon layui-icon-close"></i>下架</a>
                {{#  } }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['admin', 'table', 'form','laydate'], function() {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-userfront-formlist');

        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#time'
            ,range: true
        });

        //用户管理
        table.render({
            elem: '#LAY-user-manage'
            ,headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]}
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,url: layui.setter.baseProject + '/api/customers/page'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'customerName', title: '客户名称', minWidth: 100}
                ,{field: 'customerLogo', title: '客户图标', minWidth: 60, align:'center', templet: function (d) {
                    return '<img src="'+ layui.setter.baseFileURL +  d.customerLogo +'"style="width: 50px; height: 50px;">';
                }}
                ,{field: 'createTime', title: '添加时间', sort: true, templet: function (d) {
                    return layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss');
                }}
                ,{field: 'status', width: 80, title: '状态', align:'center', templet: function (d) {
                    if (d.status == "0") {
                        return '<span style="color: rgb(252 ,118,76);">未上架</span>';
                    } else if (d.status == "1") {
                        return '<span style="color: rgb(30, 159, 255);">已上架</span>';
                    } else {
                        return "--";
                    }
                }}
                ,{title: '操作', width: 260, align:'center', fixed: 'right', toolbar: '#table-operation-user'}
            ]]
            , page: true
            , limit: 10
            ,text: {
                none: '暂无相关数据'
            }
        });

        //监听工具条
        table.on('tool(LAY-user-manage)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除吗', function (index) {
                    admin.req({
                        url: layui.setter.baseProject + "/api/customers/delete/" + obj.data.id
                        , type: "DELETE"
                        , dataType: "json"
                        , contentType: "application/json;charset=utf-8"
                        , done: function (res) {
                            layui.layer.alert(res.msg, function () {
                                layui.table.reload('LAY-user-manage'); //重载表格
                                layer.closeAll(); //执行关闭
                            })
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                location.hash = "/customer/edit/id=" + obj.data.id
            }else if(obj.event === 'enable'){
                admin.req({
                    url: layui.setter.baseProject + "/api/customers/enable/" + obj.data.id
                    , type: "PUT"
                    , dataType: "json"
                    , contentType: "application/json;charset=utf-8"
                    , done: function (res) {
                        layui.layer.alert(res.msg, function () {
                            layui.table.reload('LAY-user-manage'); //重载表格
                            layer.closeAll(); //执行关闭
                        })
                    }
                })
            }else if(obj.event === 'disable'){
                admin.req({
                    url: layui.setter.baseProject + "/api/customers/disable/" + obj.data.id
                    , type: "PUT"
                    , dataType: "json"
                    , contentType: "application/json;charset=utf-8"
                    , done: function (res) {
                        layui.layer.alert(res.msg, function () {
                            layui.table.reload('LAY-user-manage'); //重载表格
                            layer.closeAll(); //执行关闭
                        })
                    }
                })
            }
        });

        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data){
            var keyword = $("#keyword").val();
            var time = $("#time").val();
            var sectionStartTime = '';
            var sectionEndTime = '';
            if(time){
                console.log(time)
                sectionStartTime = time.substring(0,10);
                sectionEndTime = time.substring(13);
            }
            //执行重载
            table.reload('LAY-user-manage', {
                where: {
                    customerName : keyword,
                    sectionStartTime : sectionStartTime,
                    sectionEndTime : sectionEndTime
                }
            });
        });

        //事件
        var active = {
            add: function(){
                location.hash = "/customer/edit";
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    initForm = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(); //渲染该模板下的动态表单
        });
    };
</script>
</html>