
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>


<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

  <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header">
      <h2>中州科技</h2>
      <p>江苏中州科技有限公司管理系统</p>
    </div>
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
        <input type="text" name="userName" id="LAY-user-login-username" lay-verify="required" placeholder="请输入用户名" class="layui-input" onkeydown="loginEnter();">
      </div>
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
        <input type="password" name="userPassword" id="LAY-user-login-password" lay-verify="required" placeholder="请输入密码" class="layui-input" onkeydown="loginEnter();">
      </div>
<!--      <div class="layui-form-item">-->
<!--        <div class="layui-row">-->
<!--          <div class="layui-col-xs7">-->
<!--            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>-->
<!--            <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">-->
<!--          </div>-->
<!--          <div class="layui-col-xs5">-->
<!--            <div style="margin-left: 10px;">-->
<!--              <img src="https://www.oschina.net/action/user/captcha" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="layui-form-item" style="margin-bottom: 20px;">-->
<!--        <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">-->
<!--        <a lay-href="/user/forget" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>-->
<!--      </div>-->
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" id="loginSubmit" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
      </div>
    </div>
  </div>
  
  <div class="layui-trans layadmin-user-login-footer">
    <p><a href="http://www.jszzkj.cn/" target="_blank">www.jszzkj.cn</a></p>
  </div>

</div>

<script>
layui.use(['admin', 'form', 'user'], function(){
  var $ = layui.$
  ,setter = layui.setter
  ,admin = layui.admin
  ,form = layui.form
  ,router = layui.router()
  ,search = router.search;

  form.render();

  //提交
  form.on('submit(LAY-user-login-submit)', function(obj){
  
    //请求登入接口
    admin.req({
      url: layui.setter.baseProject + '/api/login'
      ,type: 'POST'
      ,data: obj.field
      ,done: function(res){
      
        //请求成功后，写入 access_token
        layui.data(setter.tableName, {
          key: setter.request.tokenName
          ,value: res.data
        });
        
        //登入成功的提示与跳转
        layer.msg('登入成功', {
          offset: '15px'
          ,icon: 1
          ,time: 1000
        }, function(){
          location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/';
        });
      }
    });
    
  });


  loginEnter = function(e){
    if(event.keyCode===13) {
      document.getElementById("loginSubmit").click();
      return false;
    }
  }
  
});
</script>