<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <style>
        .layui-form-label{
            width: 120px;
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="/">主页</a>
        <a lay-href="/user/page"><cite>用户管理</cite></a>
        <a href="javascript:void(0);"><cite>编辑用户</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>用户信息</legend>
    </fieldset>
    <form class="layui-form" lay-filter="formFilter" action="javascript: return false;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="userName"  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户编码</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="userCode" placeholder="请输入用户编码" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="realName"  lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="identityNo"  lay-verify="required" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="phone"  lay-verify="required" placeholder="请输入电话号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block layui-col-xs8">
                <script type="text/html" template lay-url="{{ layui.setter.baseProject }}/api/role/list" lay-done="initForm(d);">
                    <select class="layui-select" id="roleId" name="roleId" lay-verify="required" >
                        <option value="">请选择</option>
                        {{#  layui.each(d.data, function(index, item){ }}
                        <option value="{{ item.id }}" >{{ item.roleName }}</option>
                        {{#  }); }}
                    </select>
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="department" required="" lay-verify="required" placeholder="请选择上级部门" readonly="" autocomplete="off" class="layui-input">
                <div class="eleTree depTree" lay-filter="depTree"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="radio" name="sex" value="0" title="男" checked="">
                <input type="radio" name="sex" value="1" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block layui-col-xs8">
                <input type="text" name="email"  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block layui-col-xs10 " style="text-align: center;">
                <button class="layui-btn" lay-submit lay-filter="user-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['admin', 'form', 'upload', 'eleTree'], function() {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , upload = layui.upload
            , eleTree = layui.eleTree;

        //初始化部门
        var departmentTree;
        $("[name='department']").on("click",function (e) {
            e.stopPropagation();
            if(!departmentTree){
                departmentTree=eleTree.render({
                    elem: '.depTree',
                    emptText: "暂无数据",
                    headers: {"Authorization": layui.data(layui.setter.tableName)["Authorization"]},
                    url: layui.setter.baseProject + '/api/department/findDepTree',
                    request: {
                        name: "depName",
                        key: "id",
                        children: "children"
                    },
                    response: {
                        statusName: "code",
                        statusCode: 0,
                        dataName: "data"
                    },
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true
                });
            }
            $(".depTree").toggle();
        });
        eleTree.on("nodeClick(depTree)",function(d) {
            $("[name='department']").val(d.data.currentData.depName);
            $("[name='department']").attr("data-parent-id", d.data.currentData.id);
            $(".depTree").hide();
        });
        $(document).on("click",function() {
            $(".depTree").hide();
        });
        //初始化表单
        admin.req({
            url: layui.setter.baseProject + "/api/sysUser/detail/"+layui.router().search.id
            , type: "GET"
            ,data: {}
            ,dataType: "json"
            , contentType: "application/json;charset=utf-8"
            , done: function (res) {
                if (res.code == 0){
                    form.val("formFilter", {
                        "userName": res.data.userName,
                        "realName": res.data.realName,
                        "identityNo": res.data.identityNo,
                        "phone": res.data.phone,
                        "roleId": res.data.roleId,
                        "sex": res.data.sex,
                        "email": res.data.email
                    });
                    //设置选中的节点
                    $("[name='department']").val(res.data.depName);
                    $("[name='department']").attr("data-parent-id", res.data.depId);
                    form.render(null, 'formFilter');
                } else {
                    layui.layer.alert(res.msg);
                }

            }
        });
        form.render(null, 'formFilter');

        form.on('submit(user-submit)', function(data){
            var field = data.field; //获取提交的字段
            field.depId = $("[name='department']").attr("data-parent-id");
            admin.req({
                url: layui.setter.baseProject + "/api/sysUser/edit/" + layui.router().search.id
                , type: "PUT"
                ,data: JSON.stringify(field)
                ,dataType: "json"
                , contentType: "application/json;charset=utf-8"
                , done: function (res) {
                    layui.layer.alert(res.msg, function () {
                        location.hash = '/user/page';
                    })
                }
            });
            return false;
        })
    });

    initForm = function(d){
        layui.use(['form'], function(){
            var form = layui.form;
            form.render(null, 'formFilter'); //渲染该模板下的动态表单
        });
    };
</script>
</html>